.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo img{
    width: 100px;
}

.navItems > ul{
  display: flex;
  list-style: none;
}

.navItems >ul > li{
    padding: 10px;
    margin: 10px;
}

.filter{
    padding: 10px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.res-container{
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 350px;
    background: #f5f1f1;
}

.res-card  > img{
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width:100%;
 
}